* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: regular;
  src: url('./assets/fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: med;
  src: url('./assets/fonts/Rubik-Medium.ttf');
}

#root{
  overflow: hidden;
}

:root {

  /*Primary colors*/
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /*Neutral colors**/
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);

  /*Font size*/
  --font-size: 18px;

  /*Font family*/
  --regular: regular;
  --medium: med;

}